extends layout

block content
    div#wrapper
        h1 Search Sakila Customers by Country!
    
        select#searchbar(data-placeholder="Choose a country..." ng-model="countryQuery" ng-change="showCustomers(countryQuery)")
            option
    
        table#customertable.tablesorter.tablesorter-blue
            thead
                tr
                    td ID
                    td Name
                    td Email
                    td Address
                    td Phone
            tbody
                tr(ng-repeat="x in customerList") 
                    td {{x.customer_id}}
                    td {{x.first_name}} {{x.last_name}}
                    td {{x.email}}
                    td {{x.address}}
                    td {{x.phone}}
