doctype html
html(ng-app="app" ng-controller="ctrl")
  head
    title= title
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='bower_components/chosen/chosen.css')
    link(rel='stylesheet', href='bower_components/tablesorter/dist/css/theme.blue.min.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Amarante')

    link(rel='stylesheet', href='/stylesheets/style.css')
   
    script(src='bower_components/tablesorter/jquery-latest.js')
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
    
    script(src='bower_components/tablesorter/dist/js/jquery.tablesorter.min.js')
    script(src='bower_components/tablesorter/dist/js/jquery.tablesorter.widgets.min.js')

    script(src='bower_components/angular/angular.min.js')
    script(src='bower_components/chosen/chosen.jquery.js')
    script(src='bower_components/tablesorter/jquery.tablesorter.js')
    
  

  body
    block content
  footer
    script(src='javascripts/index.js')